@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --color-green: hsl(75, 94%, 57%);
    --color-white: hsl(0, 0%, 100%);
    --color-grey-700: hsl(0, 0%, 20%);
    --color-grey-800: hsl(0, 0%, 12%);
    --color-grey-900: hsl(0, 0%, 8%);

    --font-family: 'Inter', sans-serif;
    --font-size-base: 0.9375rem; /* 14 px */
    --font-weight-normal: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;


}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    background-color: var(--color-grey-900);
    color: var(--color-white);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

main {
    width: min(90%, 25rem);

    background-color: var(--color-grey-800);
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;
    padding: 1.5rem;
}

img {
    border-radius: 50%;
}

h1 {
    font-weight: var(--font-weight-bold);
}

.location {
    color: var(--color-green);
    font-weight: var(--font-weight-semibold);
}

a {
    text-decoration: none;

    background-color: var(--color-grey-700);
    color: var(--color-white);
    font-weight: var(--font-weight-bold);

    width: 100%;
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

a:hover {
    background-color: var(--color-green);
    transform: scale(1.05);

}

a:active {
    transform: scale(0.95);

}

